<blui-drawer-layout [variant]="getVariant()" (backdropClick)="closeDrawer()" width="280" responsive>
    <blui-drawer blui-drawer [open]="isOpen()" [sideBorder]="true">
        <blui-drawer-header>
            <div blui-title-content (click)="goHome()" style="cursor: pointer; display: flex; align-items: center">
                Spyglass API
            </div>
            <button mat-icon-button blui-icon (click)="toggleDrawerOpen()">
                <mat-icon>menu</mat-icon>
            </button>
        </blui-drawer-header>
        <blui-drawer-body>
            <blui-drawer-nav-group>
                <blui-drawer-nav-item
                    *ngFor="let navItem of navItems"
                    [divider]="true"
                    [expanded]="navItem.expanded"
                    [title]="navItem.title"
                    [selected]="navItem.title === getSelectedItem()"
                    (select)="selectItem(navItem)"
                >
                    <mat-icon blui-icon>{{ navItem.icon }}</mat-icon>
                    <blui-drawer-nav-item
                        *ngFor="let nestedNavItem of navItem.children"
                        [divider]="true"
                        [title]="nestedNavItem.title"
                        [selected]="navItem.route + '/' + nestedNavItem.route === getSelectedItem()"
                        (select)="selectNestedNavItem(navItem, nestedNavItem)"
                    >
                    </blui-drawer-nav-item>
                </blui-drawer-nav-item>
            </blui-drawer-nav-group>
        </blui-drawer-body>
    </blui-drawer>
    <div blui-content class="page-container" responsive>
        <blui-app-bar
            [class.no-elevation]="vp.sm"
            [variant]="vp.sm ? 'collapsed' : 'expanded'"
            [scrollThreshold]="100"
            [scrollContainerClassName]="scrollContainerClassName"
            class="header-container"
            (collapsedChange)="isCollapsed = $event"
        >
            <button
                blui-icon
                mat-icon-button
                disableRipple
                (click)="toggleDrawerOpen()"
                *ngIf="vp.isMediumOrLess()"
                style="margin-left: -24px"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <blui-three-liner subtitle="Empowering the jungle to make cool stuff" [style.top.px]="isCollapsed ? 0 : 60">
                <div blui-title responsive class="title">
                    <img *ngIf="!isCollapsed" class="banano-logo" src="assets/bananologo.svg" />
                    <div (click)="vp.sm ? goHome() : ''" [style.cursor]="vp.sm ? 'pointer' : 'unset'">Spyglass API</div>
                </div>
            </blui-three-liner>
        </blui-app-bar>
        <router-outlet></router-outlet>

        <div style="display: flex; align-items: center; justify-content: center; margin: 8px 0">
            <img src="assets/github-icon.svg" style="margin-right: 8px" />
            <a
                href="https://github.com/dev-ptera/spyglass-api"
                target="_blank"
                style="text-align: center; margin: 8px 0px"
                class="link"
            >
                Github
            </a>
        </div>
    </div>
</blui-drawer-layout>
