<pxb-drawer-layout [variant]="getVariant()" (backdropClick)="closeDrawer()" width="280">
    <pxb-drawer pxb-drawer [open]="isOpen()" [sideBorder]="true">
        <pxb-drawer-header title="Spyglass API">
            <button mat-icon-button pxb-icon (click)="toggleDrawerOpen()">
                <mat-icon>menu</mat-icon>
            </button>
        </pxb-drawer-header>
        <pxb-drawer-body>
            <pxb-drawer-nav-group>
                <pxb-drawer-nav-item
                    *ngFor="let navItem of navItems"
                    [divider]="true"
                    [title]="navItem.title"
                    [selected]="navItem.title === getSelectedItem()"
                    (select)="selectItem(navItem)"
                >
                    <mat-icon pxb-icon>{{ navItem.icon }}</mat-icon>
                    <pxb-drawer-nav-item
                        *ngFor="let nestedNavItem of navItem.children"
                        [divider]="true"
                        [title]="nestedNavItem.title"
                        [selected]="navItem.route + '/' + nestedNavItem.route === getSelectedItem()"
                        (select)="selectNestedNavItem(navItem, nestedNavItem)"
                    >
                    </pxb-drawer-nav-item>
                </pxb-drawer-nav-item>
            </pxb-drawer-nav-group>
        </pxb-drawer-body>
    </pxb-drawer>
    <div pxb-content class="page-container" responsive>
        <pxb-app-bar
            [variant]="vp.sm ? 'collapsed' : 'expanded'"
            [scrollThreshold]="100"
            [scrollContainerClassName]="scrollContainerClassName"
            class="header-container"
            (collapsedChange)="isCollapsed = $event"
        >
            <button
                pxb-icon
                mat-icon-button
                (click)="toggleDrawerOpen()"
                *ngIf="vp.isMediumOrLess()"
                style="margin-left: -24px"
            >
                <mat-icon>menu</mat-icon>
            </button>
            <pxb-three-liner subtitle="Empowering the jungle to make cool stuff" [style.top.px]="isCollapsed ? 0 : 60">
                <div pxb-title responsive class="title">
                    <img *ngIf="!isCollapsed" class="banano-logo" src="assets/bananologo.svg" />
                    <div>Spyglass API</div>
                </div>
            </pxb-three-liner>
        </pxb-app-bar>
        <router-outlet></router-outlet>
        <div style="text-align: center; margin: 8px 0px">Powered by YellowSpyglass API</div>
    </div>
</pxb-drawer-layout>
