.toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    padding: 0 24px;
}

.drawer-content {
}

:host {
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep {
    .pxb-app-bar-expanded .pxb-app-bar-background {
        background-image: url('../../assets/bg-footer.svg');
        background-size: contain;
        opacity: 1;
    }
    .pxb-app-bar-body-wrapper,
    .pxb-three-liner {
        width: 100%;
        justify-content: center;
        margin: 0 !important;
    }
    .sm .pxb-three-liner {
        justify-content: start;
        margin-left: 16px !important;
    }
    .pxb-three-liner-subtitle {
        text-align: center;
        margin-top: 8px;
    }
    .pxb-app-bar-content {
        overflow: visible!important;;
    }
    @media only screen and (max-width: 1450px) {
        .pxb-app-bar-expanded .pxb-app-bar-background {
            background-size: cover !important;
        }
    }
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23469a16' fill-opacity='0.03' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");

    .mat-subheading-2 {
        line-height: 24px;
    }

    .github-icon {
        height: 24px;
        width: 24px;
        top: 8px;
        right: 24px;
        position: absolute;
        color: white;
        fill: white;
        cursor: pointer;
    }

    .header-container {
        width: 100%;
        color: white;
        background-color: #4cbe4b;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        position: relative;
        ::ng-deep .mat-toolbar {
            background-color: unset;
        }
        .title {
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            font-size: 48px;
            align-items: center;
            &.sm {
                font-size: 22px;
                font-weight: 400;
            }
        }
        .banano-logo {
            margin-top: 12px;
            height: 42px;
            margin-right: 16px;
        }
    }
}
