@import '~@angular/material/_theming.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; // Tooltip needs this theme to work?
@import '~@pxblue/angular-themes/pxb-component-theme';
@import '~@pxblue/angular-themes/blueTheme';
@import '~@pxblue/angular-themes/margins';
@import '~@pxblue/angular-themes/fonts';
@import '~@pxblue/angular-themes/common';
@import '~@pxblue/colors/palette';

.light-theme {
    $material-theme-primary: mat-palette($pxb-green, 700);
    $material-theme-accent: mat-palette($pxb-yellow);
    $material-theme-warn: mat-palette($pxb-red);
    $light-theme: map-merge(
        mat-light-theme($material-theme-primary, $material-theme-accent, $material-theme-warn),
        (
            foreground: (
                text: map-get($pxb-black, 500),
                secondary-text: map-get($pxb-gray, 500),
                hint-text: map-get($pxb-black, 400),
                base: map-get($pxb-darkBlack, 900),
                divider: rgba(66, 78, 84, 0.12),
                dividers: $dark-dividers,
                disabled: rgba(66, 78, 84, 0.3),
                disabled-button: rgba(black, 0.26),
                disabled-text: rgba(66, 78, 84, 0.3),
                elevation: map-get($pxb-darkBlack, 900),
                icon: rgba(black, 0.54),
                icons: rgba(black, 0.54),
                slider-min: rgba(black, 0.87),
                slider-off: rgba(black, 0.26),
                slider-off-active: rgba(black, 0.38),
            ),
            background: (
                status-bar: map_get($mat-grey, 300),
                app-bar: map-get($pxb-gray, 50),
                background: map-get($pxb-white, 200),
                hover: rgba(black, 0.04),
                card: map-get($pxb-white, 50),
                dialog: map-get($pxb-white, 50),
                disabled-button: rgba(114, 126, 132, 0.12),
                raised-button: map-get($pxb-white, 50),
                focused-button: $dark-focused,
                selected-button: map-get($pxb-gray, 300),
                selected-disabled-button: map-get($pxb-gray, 400),
                disabled-button-toggle: map-get($pxb-gray, 200),
                unselected-chip: map-get($pxb-gray, 300),
                disabled-list-option: map-get($pxb-gray, 200),
            ),
        )
    );

    @include angular-material-theme($light-theme);
    @include pxb-components-theme($light-theme);
    @include bluetheme($light-theme);
    @include bodyfont();
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
