/* Can be 'production' or 'development' */
NODE_ENV=development
/* Can be 'banano' or 'nano'
PROFILE=banano
/* Port that listens for incoming requests. */
PORT=3000
/* URL used to send RPC commands. */
RPC_URL=[RPC_URL]
/* Used to fetch coinmarketcap price data. */
CMC_API_KEY=[key]
/* Used to interact with the nano RPC node. */
RPC_AUTH=[key]
/* If the node is running a representative, this field goes here. */
PUBLIC_REP_ADDRESS=[address]
/* Ledger location, used for calculating the ledger size. */
LEDGER_LOCATION=[string]
/* URL for Redis Database */
REDIS_URL=[string]
/* URL for Exchange Rate Host API https://exchangerate.host */
EXCHANGERATEHOST_API_KEY=[string]
