<div class="page-container">
    <div class="section-title">Request Path</div>
    <div class="section-body">/v1/{{ requestPath }}</div>

    <div class="section-title">Response Type</div>
    <div class="section-body">
        <div>
            <ngx-json-viewer [json]="requestResponseType"></ngx-json-viewer>
        </div>
    </div>


    <div class="section-title">
        <div class="">Request Knobs</div>
        <button mat-flat-button color="primary" (click)="sendRequest()">Send</button>
    </div>
    <div class="section-body">
        <div *ngIf="!requestBodyParameters || requestBodyParameters.length === 0">N/A</div>
        <div *ngFor="let requestParam of requestBodyParameters">
            <ng-container *ngIf="requestParam.propertyType === 'boolean'">
                <mat-checkbox [checked]="requestParam.defaultValue">{{requestParam.propertyName}}</mat-checkbox>

            </ng-container>
        </div>
    </div>

    <div class="section-title">Request Output</div>
    <div class="section-body">
        <div *ngIf="requestResponse" style="max-height: 40vh; overflow: scroll;">
            <ngx-json-viewer [json]="requestResponse"></ngx-json-viewer>
        </div>
        <div *ngIf="!requestResponse">Send Request to View</div>
    </div>


</div>
