<ng-template #paramName let-requestParam="requestParam">
    <span style="padding: 8px 16px; cursor: help;" [matTooltip]="requestParam.notes" matTooltipPosition="after">
        <span style="padding: 8px 16px">
            <span
                class="prop-name"
                [matBadgeSize]="'small'"
                [matBadge]="requestParam.notes ? 'i' : ''"
                [matBadgeOverlap]="false"
            >
                {{ requestParam.propertyName }}
            </span>
        </span>
    </span>

</ng-template>

<ng-template #sendButton>
    <button mat-flat-button class="send-button" responsive color="primary" (click)="sendRequest()">
        <div class="button-text-container" *ngIf="!isLoading">Send</div>
        <div class="spinner-container" [class.isLoading]="isLoading">
            <mat-spinner class="primary-spinner" diameter="20"></mat-spinner>
        </div>
    </button>
</ng-template>

<div class="page-container" responsive>
    <div>
        <div class="section-title">
            <div>Request Type</div>
            <ng-template [ngTemplateOutlet]="sendButton"></ng-template>
        </div>
        <div class="section-body" style="display: flex">
            /v1/{{ requestPath }}
            <pxb-spacer></pxb-spacer>
            {{ requestType }}
        </div>

        <ng-container *ngIf="requestType === 'POST'">
            <div class="section-title">Request Knobs</div>
            <div class="section-body" responsive>
                <div *ngIf="!requestKnobs || requestKnobs.length === 0">N/A</div>
                <div *ngFor="let requestParam of requestKnobs">
                    <div class="property-line">
                        <div *ngIf="requestParam.propertyType === 'boolean'">
                            <mat-checkbox
                                color="primary"
                                class="input-option"
                                [checked]="requestParam.value"
                                [(ngModel)]="requestParam.value"
                            ></mat-checkbox>
                            <ng-container
                                [ngTemplateOutlet]="paramName"
                                [ngTemplateOutletContext]="{ requestParam: requestParam }"
                            ></ng-container>
                        </div>
                        <div *ngIf="requestParam.propertyType === 'string'
                                || requestParam.propertyType === 'number'">
                            <input
                                class="input-option"
                                [type]="requestParam.propertyType"
                                [(ngModel)]="requestParam.value"
                            />
                            <ng-container
                                [ngTemplateOutlet]="paramName"
                                [ngTemplateOutletContext]="{ requestParam: requestParam }"
                            ></ng-container>
                        </div>
                        <div *ngIf="requestParam.propertyType === 'array'">
                            <input
                                class="input-option"
                                type="text"
                                [(ngModel)]="requestParam.value"
                            />
                            <ng-container
                                [ngTemplateOutlet]="paramName"
                                [ngTemplateOutletContext]="{ requestParam: requestParam }"
                            ></ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!isEmptyBody()">
            <div class="section-title">Request Body</div>
            <div class="section-body">
                &#x007B;
                <ngx-json-viewer [json]="createRequestBody()"></ngx-json-viewer>
                &#x007D;
            </div>
        </ng-container>

        <div class="section-title">Response Type</div>
        <div class="section-body">
            <div>
                <ngx-json-viewer [json]="requestResponseType"></ngx-json-viewer>
            </div>
        </div>
    </div>

    <div>
        <div class="section-title">
            <div>Response Content</div>
            <mat-checkbox
                style="font-size: 16px"
                color="primary"
                [checked]="showRawResponse"
                [(ngModel)]="showRawResponse"
                ><span style="margin-left: 8px">Show Raw</span></mat-checkbox
            >
        </div>
        <div class="section-body">
            <div *ngIf="requestResponse" class="response-container">
                <!--  {{ requestResponse }} -->
                <ngx-json-viewer *ngIf="!showRawResponse" [json]="requestResponse"></ngx-json-viewer>
                <pre *ngIf="showRawResponse">{{ requestResponse | json }}</pre>
            </div>
            <div *ngIf="!requestResponse" (click)="sendRequest()" style="cursor: pointer">
                <ng-container *ngIf="!isLoading">Send Request to View</ng-container>
                <ng-container *ngIf="isLoading">Loading...</ng-container>
            </div>
        </div>
    </div>
</div>
