@import '~@pxblue/colors/palette';

:host {
    display: flex;
    flex: 1;
    text-align: left;
    width: 100%;
    justify-content: center;
}

$splitScreenCutoff: 1850px;

.page-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    max-width: 1800px;
    width: 100%;
    padding: 64px 32px;
    padding-top: 0px;
    @media screen and (max-width: $splitScreenCutoff) {
        max-width: 1000px;
        flex-direction: column;
        justify-content: flex-start;
    }
    &.sm {
        padding: 24px 16px;
    }

    > div {
        width: 48%;
        @media screen and (max-width: $splitScreenCutoff) {
            width: 100%;
        }
    }

    .section-title {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        font-size: 34px;
    }
    &.sm .section-title {
        margin-top: 32px;
        font-size: 24px;
    }

    .section-body {
        background-color: map-get($pxb-white, 300);
        padding: 16px;
        margin-top: 32px;
        font-family: monospace;
        transition: all 3s;
    }
    &.sm .section-body {
        margin-top: 16px;
        margin-bottom: 64px;
    }
}

.input-option {
    width: 150px;
    box-sizing: border-box;
    margin-right: 48px;
    margin-bottom: 16px;
}

.property-line {
    display: flex;
    justify-content: space-between;
}

.prop-name {
    display: inline-flex;
    margin-left: 16px;
}

.response-container {
    overflow-y: scroll;
    max-height: 65vh;
    @media screen and (max-width: $splitScreenCutoff) {
        max-height: 40vh;
    }
}


.send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    $duration: 200ms;
    $animationTimingFunction: ease-out;
    .button-text-container {
        animation: fadeInAnimation $duration $animationTimingFunction;
         &.isLoading {
             display: none;
         }
    }
    .spinner-container {
        animation: fadeInAnimation $duration $animationTimingFunction;
        display: none;
        margin: 0 auto;
        &.isLoading {
            display: block;
        }

        ::ng-deep .mat-progress-spinner,
        .mat-spinner {
            circle {
                stroke: white;
            }
        }
    }
}


@keyframes fadeInAnimation {
    0%,
    20% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
